<ion-header>
  <ion-navbar>
    <ion-title>
      Rugby El Salvador
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Local</ion-label>
    <ion-select [(ngModel)]="local">
      <ion-option *ngFor="let team of teams | async">
        {{team.abbr | uppercase}}
      </ion-option>
    </ion-select>
  </ion-item>
  <h3>vs</h3>
  <ion-item>
    <ion-label>Visitante</ion-label>
    <ion-select [(ngModel)]="away">
      <ion-option *ngFor="let team of teams | async">
        {{team.abbr | uppercase}}
      </ion-option>
    </ion-select>
  </ion-item>
  <button class="main-btn" ion-button color="positive" block icon-left large on-tap="goToLineups()" [disabled]='!canStart()'>
    Siguiente
  </button>
</ion-content>
